<%= content_for :active_profile, "class=active" %>

<div class="row">
	<div class="span12 big_title">
		<h1>Editing profile</h1>
	</div>
</div>

<%= render 'form' %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back to home', home_index_path %>
