<%= content_for :active_profile, "class=active" %>

<div class="page-header">
	<h1>Editing profile</h1>
</div>

<article class="center">
	<%= render 'form' %>

	<%= link_to 'Show', @profile, :class => "btn btn-info" %> 
	<%= link_to 'Back to home', home_index_path, :class => "btn" %>
</article>
