<%= content_for :active_experiences, "class=active" %>

<div class="page-header">
	<h1>New experience</h1>
</div>
<article class="center">
	<%= render 'form' %>

	<%= link_to 'Back', experiences_path, :class => "btn" %>
</article>
