<%= content_for :active_pictures, "class=active" %>

<div class="page-header">
	<h1>Editing picture</h1>
</div>
<article class="center">
	<%= render 'form' %>

	<%= link_to 'Show', @picture, :class => "btn btn-info" %> |
	<%= link_to 'Back', pictures_path, :class => "btn" %>
</article>
