/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background: url("font.png");
}

.center {
	text-align: center;
}

.giant_textarea {
	width: 100%;
}

footer {
	background-color: #F5F5F5;
	border-top: 1px solid #E5E5E5;
	text-align: center;
	border-radius: 8px;
	-moz-border-radius: 8px;
	margin-top: 40px;
	padding: 10px;
}

p {
	text-indent: 4%;
}

article {
	background-color: #F5F5F5;
	border: 1px solid black;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 4px 4px #1C1A19;
	padding: 5px;
}