.hero-unit {
  background-color: #99CC66;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
.hero-unit h2 {
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}

.well
{
  background-color: #FFFFCC;
}
