<%= content_for :active_educations, "class=active" %>
<div class="page-header">
	<h1>Editing education</h1>
</div>

<article class="center">
	<%= render 'form' %>

	<%= link_to 'Show', @education, :class => "btn btn-info" %>
	<%= link_to 'Back', educations_path, :class => "btn" %>
</article>